body {
    background-image: url('../img/skewed_print.png');
    font-family: 'Maven Pro';
    color: #fff;
}

#container {
    width: 100%;
    position: absolute;
    top: 20px;
}

.player_name {
    position: absolute;
    font-size: 25pt;
    top: 20px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    opacity: 0.3;
}

.player_name.one {
    left: 20px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
}

.player_name.two {
    right: 20px;
    transform-origin: right top;
    -webkit-transform-origin: right top;
}

.player_name.active {
    opacity: 1.0;
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
}

.center_area {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 70px;
    text-align: center;
}

.info_text {
    font-size: 14pt;
    opacity: 0.8;
}

.chart {
    text-shadow: 2px 2px #000000;
    box-shadow: 2px 2px #000000;
    font-size: 20pt;
    margin: 15px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    cursor: pointer;
    border-radius: 15px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chart:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.chart .subtitle {
    font-style: italic;
    font-size: 16pt;
}

.chart .rating {
    font-weight: bold;
    font-size: 18pt;
}

.chart .rating.expert {
    color: #ddf;
}

.chart.ban {
    background-color: rgba(150, 0, 0, 0.2);
}

.chart.favor {
    background-color: rgba(0, 150, 0, 0.2);
}

.chart.one, .chart.two {
    cursor: default;
}

.chart.one {
    transform: translate(-20px);
    -webkit-transform: translate(-20px);
}

.chart.two {
    transform: translate(20px);
    -webkit-transform: translate(20px);
}
