body {
    background-image: url('../img/skewed_print.png');
    font-family: 'Maven Pro';
    color: #fff;
}

label {
    display: block;
}

#container {
    width: 100%;
    position: absolute;
}

.player_names {
    font-size: 20pt;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.3)
}

.player_name {
    font-size: 25pt;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.player_name.active {
    color: rgba(255, 255, 255, 1);
}

.center_area {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 50px;
    text-align: center;
}

.info_text {
    font-size: 15pt;
    opacity: 0.8;
}

.info_text .downvote, .info_text .upvote {
    font-weight: bold;
}

.info_text .downvote {
    color: #F00;
}

.info_text .upvote {
    color: #0F0;
}

.chart {
    text-shadow: 2px 2px #000000;
    box-shadow: 2px 2px #000000;
    font-size: 20pt;
    margin: 15px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    cursor: pointer;
    border-radius: 15px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chart:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.chart .subtitle {
    font-style: italic;
    font-size: 16pt;
}

.chart .rating {
    font-weight: bold;
    font-size: 18pt;
}

.chart .rating.expert {
    color: #ddf;
}

.chart.downvote {
    background-color: rgba(150, 0, 0, 0.2);
}

.chart.upvote {
    background-color: rgba(0, 150, 0, 0.2);
}

.chart.one, .chart.two {
    cursor: default;
}

.chart.one {
    transform: translate(-20px);
    -webkit-transform: translate(-20px);
}

.chart.two {
    transform: translate(20px);
    -webkit-transform: translate(20px);
}

.chart.drawn {
    opacity: 0.3;
}

.chart.currently_drawn {
    opacity: 1;
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.3, 1.3);
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.6); 
}
